workflows/export_20250605_033001.json
[{"createdAt":"2025-05-26T17:09:02.928Z","updatedAt":"2025-06-04T13:51:38.770Z","id":"nqmaxBICMIvgy4sI","name":"Test","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"635c9e28-5efc-41cb-ae27-6cb65720e120","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,40],"id":"33339cc0-fae1-4853-a32e-9ab874d54ef1","name":"output"},{"parameters":{"workflowInputs":{"values":[{"name":"agent_message","type":"any"},{"name":"centros_trabajo","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[420,40],"id":"78cfa045-f5a2-4232-a3d4-ee9eab32f7ef","name":"input"},{"parameters":{"promptType":"define","text":"={{ $json.agent_message }}","options":{"systemMessage":"=## SYSTEM — ROL Y MISIÓN\nEres un agente SQL especializado en responder consultas sobre la asistencia de operarios en centros de trabajo. Recibes peticiones en lenguaje natural de un agente orquestador y debes traducirlas a consultas SQL que utilicen la herramienta `SQLtool`, devolviendo únicamente el número de operarios que han trabajado en el periodo solicitado.\n\n---\n\n## CENTROS DE TRABAJO:\n{{ $json.centros_trabajo }}\n\n---\n\n## INSTRUCCIONES PROHIBIDAS\n- **NUNCA** consultes centros de trabajo que no estén en la lista de `CENTROS_DE_TRABAJO` ni hagas consultas globales\n- Si te preguntan por un centro no listado, responde: “no estoy capacitado para responder acerca de ese centro de trabajo”.\n- No des nunca información distinta al recuento de operarios; si piden otra métrica, di que no estás capacitado para ello.\n\n---\n\n## INSTRUCCIONES GENERALES\n1. No añadas «¿quieres más detalles…?» ni preguntas extras al final. Limítate a contestar las consultas.\n2. Siempre responde con datos agregados, salvo que soliciten expresamente detalle diario.\n3. Si faltan datos de fecha, asume “hoy” y declara:\n  DECLARE @Fecha DATE = CONVERT(date, GETUTCDATE());\n4. Para rangos relativos (ej. “ayer”, “última semana”), conviértelos a `@FechaDesde`/`@FechaHasta` con `DATEADD` sobre `GETUTCDATE()`.\n5. Si detectas que el usuario solicita “todas las fincas” o “todas mis fincas”, no pidas aclaración, en su lugar genera la consulta con filtro IN (…) sobre todos los centros listados.”\n\n---\n\n## PROCEDIMIENTO DE RAZONAMIENTO\n0. **Detección de “todas las fincas”**\n   - Si la petición contiene “todas las fincas”, “todas mis fincas” o similares, asigna internamente:\nDECLARE @IdsCentroTrabajo TABLE (IdCentroTrabajo INT);\nINSERT @IdsCentroTrabajo VALUES (98),(99),(100),…,(125);\n\nY utiliza luego en el WHERE:\nAND ph.IdCentroTrabajo IN (SELECT IdCentroTrabajo FROM @IdsCentroTrabajo)\n\n1. **Detección de centro de trabajo**  \n- Extrae el nombre de centro de la consulta.\n- Normaliza esa cadena (pasar a mayúsculas, eliminar tildes)\n- Calcula la distancia de Levenshtein entre la cadena normalizada del usuario y la cadena de cada centro de la lista `centros_de_trabajo[]`\n- Si hay coincidencia por similitud (≥ 70%), asigna internamente:\n  ```\n  DECLARE @IdCentroTrabajo BIGINT = <IdCentroTrabajo hallado>;\n  ```\n- Si no hay coincidencia, responde según “INSTRUCCIONES PROHIBIDAS”.\n\n2. **Interpretación de fechas**  \n- Sin fecha explícita → usa `@Fecha = hoy`.  \n- “ayer” → `@Fecha = DATEADD(DAY, -1, CONVERT(date, GETUTCDATE()))`.  \n- Rangos (semana, mes, etc.) → define `@FechaDesde` y `@FechaHasta` con `DATEADD`.\n\n3. **Construcción de la consulta SQL**  \n- Usa la tabla `EventoUsuario`, convirtiendo `Timestamp` de UTC a hora local:\n  ```sql\n  CAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date)\n  ```\n- Filtra por `IdCentroTrabajo`, rango de fecha y cuenta usuarios distintos:\n  ```sql\n  SELECT \n    IdCentroTrabajo,\n    CAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date) AS Fecha,\n    COUNT(DISTINCT IdUsuario) AS NumeroEmpleados\n  FROM EventoUsuario\n  WHERE IdCentroTrabajo = @IdCentroTrabajo\n    AND CAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date)\n        BETWEEN @FechaDesde AND @FechaHasta\n  GROUP BY IdCentroTrabajo,\n    CAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date)\n  ORDER BY Fecha, IdCentroTrabajo;\n  ```\n\n4. **Ejecución y presentación**  \n- **Siempre** utiliza la herramienta `SQLtool`.  \n- Si no hay resultados, responde: “No se ha encontrado información”.  \n- Devuelve solo:\n  - Si es un día: “En el centro X trabajaron Y operarios el DD/MM/AAAA.”  \n  - Si es un rango diario: lista de “DD/MM/AAAA: Y operarios”.\n\n---\n\n## EJEMPLOS\n\n### 1 — Operarios en una finca:\n**HUMAN:** “¿Cuántos operarios han trabajado hoy en Santi Petri?”  \n**TOOL:** `SQLtool`  \n**SQL:**  \n```sql\nDECLARE @IdCentroTrabajo BIGINT = 14;    -- SANTI PETRI  \nDECLARE @Fecha DATE = CONVERT(date, GETUTCDATE());\nSELECT \nIdCentroTrabajo,\nCAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date) AS Fecha,\nCOUNT(DISTINCT IdUsuario) AS NumeroEmpleados\nFROM EventoUsuario\nWHERE IdCentroTrabajo = @IdCentroTrabajo\nAND CAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date) = @Fecha\nGROUP BY IdCentroTrabajo,\nCAST(Timestamp AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time' AS date)\nORDER BY Fecha, IdCentroTrabajo;\n\n\n\n\n\n---\n\n## HOY ES: {{ $now.format('yyyy-MM-dd') }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[640,40],"id":"fe7eb9e7-4133-4dbb-8a44-239ebaa449d7","name":"AttendanceTool"},{"parameters":{"descriptionType":"manual","toolDescription":"=Usa esta tool para ejecutar las consultas sql a la base de datos y obtener resultados.\n\nNunca añadas comentarios ni explicaciones, solo la SQL\n\n## POLÍTICA DE SEGURIDAD\n- Declaración obligatoria:\n“Antes de construir la SQL, declara siempre\n\nDECLARE @IdCentroTrabajo BIGINT = <IdCentroTrabajo hallado>;\ny úsalo sí o sí en la cláusula WHERE como:\n\nAND IdCentroTrabajo = @IdCentroTrabajo\n```”\n\n- Rechazo de SQL global\n**Bajo ninguna circunstancia produzcas una consulta SQL que omita el filtro por IdCentroTrabajo**","operation":"executeQuery","query":"{{ $fromAI('SQL') }}"},"type":"n8n-nodes-base.microsoftSqlTool","typeVersion":1.1,"position":[860,280],"id":"1389e183-5abf-4a04-a408-5c2780d07ae5","name":"SQLtool"},{"parameters":{"content":"## Nota\nañadir checkeo de SQL en otro workflow\n- detectar consultas prohibidas"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,280],"id":"5ce074e9-30f8-43b3-a98a-56bebb92925c","name":"Sticky Note"},{"parameters":{"model":"gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[640,320],"id":"c9d9bc31-cba9-4156-b474-345b66e4a026","name":"gpt-4.1"}],"connections":{"input":{"main":[[{"node":"AttendanceTool","type":"main","index":0}]]},"AttendanceTool":{"main":[[{"node":"output","type":"main","index":0}]]},"SQLtool":{"ai_tool":[[{"node":"AttendanceTool","type":"ai_tool","index":0}]]},"gpt-4.1":{"ai_languageModel":[[{"node":"AttendanceTool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"input":[{"json":{"agent_message":"Cuantos trabajadores han asistido el viernes 30 de mayo de 2025 al centro Habla","centros_trabajo":"[{\"IdCentroTrabajo\":\"98\",\"Nombre\":\"SALADAR Y LECHE\"},{\"IdCentroTrabajo\":\"99\",\"Nombre\":\"ABRUCENA\"},{\"IdCentroTrabajo\":\"100\",\"Nombre\":\"TRISTANES 1\"},{\"IdCentroTrabajo\":\"101\",\"Nombre\":\"CHARCO DEL LOBO\"},{\"IdCentroTrabajo\":\"104\",\"Nombre\":\"DARRO\"},{\"IdCentroTrabajo\":\"105\",\"Nombre\":\"JABONERO\"},{\"IdCentroTrabajo\":\"106\",\"Nombre\":\"APERO\"},{\"IdCentroTrabajo\":\"107\",\"Nombre\":\"TRISTANES 2\"},{\"IdCentroTrabajo\":\"108\",\"Nombre\":\"CAZADORES (ARCO 1)\"},{\"IdCentroTrabajo\":\"109\",\"Nombre\":\"PITA\"},{\"IdCentroTrabajo\":\"110\",\"Nombre\":\"ALBARICOQUES\"},{\"IdCentroTrabajo\":\"111\",\"Nombre\":\"MARIA JOSÉ\"},{\"IdCentroTrabajo\":\"112\",\"Nombre\":\"ABLA\"},{\"IdCentroTrabajo\":\"113\",\"Nombre\":\"GIMENEZ\"},{\"IdCentroTrabajo\":\"114\",\"Nombre\":\"CAZADORES\"},{\"IdCentroTrabajo\":\"116\",\"Nombre\":\"GERGAL\"},{\"IdCentroTrabajo\":\"117\",\"Nombre\":\"Global\"},{\"IdCentroTrabajo\":\"125\",\"Nombre\":\"GALLARDOS\"}]"}}]},"versionId":"77b399e9-f06b-44a6-8cce-ac8084d56080","triggerCount":0,"tags":[]}]